@mixin expanding($start: 0, $end: 100vh) {
  @keyframes expand-height {
    from {
      height: $start;
    }

    to {
      height: $end;
    }
  }

  @keyframes expand-width {
    from {
      width: $start;
    }

    to {
      width: $end;
    }
  }
}

@mixin appearing($start: 0, $end: 1) {
  @keyframes fade {
    from {
      opacity: $start;
    }

    to {
      opacity: $end;
    }
  }
}
