@use '@/assets/styles/scss/components/palette.module.scss' as palette;

.map {
  &-container {
    --width: 524px;
    --height: 320px;
    --label-font-size: 16px;
    --font-size: 22px;

    @media screen and (max-width: 768px) {
      --width: 100%;

      float: none;
      margin: 16px 0;
    }

    float: right;
    top: 0;
    right: 0;
    margin-left: 128px;
    width: var(--width);
    height: var(--height);
    display: flex;
    flex-direction: column;
    background-color: #{palette.$green-1};
    color: #{palette.$white};
    border-radius: 20px;
    overflow: hidden;
  }

  &-header {
    padding: 16px;
    padding-left: 24px;

    @media screen and (max-width: 768px) {
      padding: 16px;
    }
  }

  &-label,
  &-address {
    display: block;
    font-style: normal;
    text-align: left;
  }

  &-label {
    font-size: var(--label-font-size);
  }

  &-address {
    margin-top: calc(var(--label-font-size) / 2);
    font-size: var(--font-size);
    line-height: 1.4;
  }

  &-icon {
    float: right;
    top: 0;
    right: 0;
    margin: 0;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #{palette.$green-0};
    border-radius: 9px;
    box-shadow: 1px 4px 4px #{rgba(palette.$black, 25%)};
    font-size: calc(var(--font-size) * 1.25);

    @media screen and (max-width: 768px) {
      margin-left: 24px;
    }

    @media screen and (max-width: 500px) {
      margin-left: 48px;
    }
  }

  &-entity {
    height: 100%;
    width: 100%;
    border-radius: 0 0 20px 20px;
  }
}