// purple
$purple-0: #2C2A7C;
$purple-1: #283D88;
$purple-2: #304593;
$purple-3: #4364DA;
$purple-4: #445C9A;
$purple-6: #4D5A7D;
$purple-f: #D4D8FC;

// blue
$blue-0: #00A2ED;
$blue-1: #1A2237;
$blue-2: #133B4B;
$blue-3: #1A3270;
$blue-4: #0B188F;
$blue-5: #449AD9;
$blue-6: #BDDCED;
$blue-7: #E7F3FF;
$blue-f: #ECF4F5;

// green
$green-0: #39A651;
$green-1: #4F7858;
$green-2: #CFDAD1;
$green-3: #E8F4EB;
$green-f: #F3FEF6;

// yellow
$yellow-0: #F6B91A;
$yellow-1: #FFCC18;
$yellow-2: #F1C62D;
$yellow-3: #F4D73A;
$yellow-f: #FCF1D4;

// orange
$orange-0: #E95420;

// red
$red-0: #C74848;
$red-1: #FCE8E8;
$red-f: #FDE5E5;

// grayscale
$black: #000;
$gray-0: #3D3D3D;
$gray-1: #585858;
$gray-2: #737373;
$gray-3: #797F82;
$gray-4: #9E9E9E;
$gray-5: #D7D7D7;
$gray-6: #DBDBDB;
$gray-7: #EDEDED;
$gray-f: #F3F3F3;
$white: #FFF;
